{% extends "blog/base.html" %}
{% block content %}
<article>
	<div class="banner">
		<ul class="texts">
			<p>Linus Torvalds :</p>
			<p>“大部分好的程序员编程并不是为了钱或名望，而只是因为纯粹的乐趣。”</p>
		</ul>
	</div>
	<div class="bloglist">
		<h2>
			<p>
				<span>推荐</span>博客
			</p>
		</h2>
		{% for blog in rec_blog_list %}
			<div class="blogs">
				<h3>
					<a href="/">{{ blog.name }}</a>
				</h3>
				<figure>
					<img src={{ blog.image }}>
				</figure>
				<ul>
					<p>{{ blog.content|slice:":270"  }}</p>
					<a href="/" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
				</ul>
				<p class="autor">
					<span>作者：小乙</span><span>分组：【<a href="/">{{ blog.group.group_name }}</a>】
					</span><span>浏览（<a href="/">459</a>）

					</span>
				</p>
				<div class="dateview">{{ blog.upload_date|date:"Y-m-d" }}</div>
			</div>
		{% empty %}
			<li><a href="/">暂无推荐博客内容</a></li>
		{% endfor %}

	</div>
</article>
{% endblock %}
